<nav class="cover-navigation navigation--social">
    where does social go?
    <ul class="navigation"> {{ if .Site.Params.twitter }}
        <!-- Twitter -->
        <li class="navigation__item">
            <a href="http://twitter.com/{{ .Site.Params.twitter }}" title="@{{ .Site.Params.twitter }} on Twitter"> <i class='fa fa-twitter'></i> <span class="label">Twitter</span> </a>
        </li> {{ end }} {{ if .Site.Params.bitbucket }}
        <!-- Email -->
        <li class="navigation__item">
            <a href="mailto:{{ .Site.Params.email }}" title="Email {{ .Site.Params.email }}"> <i class='fa fa-envelope-o'></i> <span class="label">Email</span> </a>
        </li> {{ end }} </ul>
</nav>
